
<ion-content [fullscreen]="false">

  <div style="position: fixed;left:0px;right:0px;top:0px;display: flex;">
    <div style="height:45vh;width: 80%;margin: auto;margin:auto;max-width:600px;">
      <img src="../assets/welcome/Group 253.svg" style="height:100%;">
    </div>
  </div>

  <div slot="fixed" class="ion-padding-horizontal" 
       style="position: relative;top: 50%;transform: translateY(-50%);margin:auto;max-width:600px;">
    <h3  style="color:#EE7981;font-weight: 800;text-align: center;margin: 1vh;">HELLO!</h3>
    <h3  style="color:#EE7981;font-weight: 800;text-align: center;margin: 1vh 0vh 0vh;">WELCOME TO THE APP!</h3><br>
    <p   style="color:#949494;font-weight: 800;text-align: center;width: 85%;margin: auto;">By taking part in this initiative, you're helping to shape the future of healthcare in Singapore</p>
  </div>

  <div style="position: fixed;left:0px;right:0px;bottom:0px;">
    <!-- <div style="width:50%;margin: auto auto 14%;max-width:600px;"> -->
    <div style="width:100%;margin: auto auto 20%;max-width:600px;">
      <div  style="width: 50%;margin:auto;" >
       <ion-button expand="block" class="small-btn hex-button" color="danger" (click)="welcomeEnter()">ENTER</ion-button>
      </div>
    </div>
    <div style="display: flex;justify-content: space-between;">
      <div style="height:18vh;"><img src="../assets/welcome/Group 252.svg" style="height:100%;"></div>
      <div style="height:18vh;"><img src="../assets/welcome/Group 251.svg" style="height:100%;"></div>
    </div>   
  </div>



</ion-content>


<!-- <app-custom-tabs></app-custom-tabs> -->

