<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/main/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
 
<div style="max-width: 600px;margin:auto;">
     <div class="ion-padding"  style="text-align: center;">
       <div>
         <ion-button  expand="block" class="btn-custom hex-button" color="danger">CARBON RECEIPT</ion-button>
       </div> 
     </div>    

     <ion-card mode="ios">
      <ion-card-content mode="ios">
        
         <div class="ion-padding ion-text-center" style="width:98%;margin:auto;">
          <h3 style="color:#010101;font-weight: 800;font-size:14pt;">YOUR CARBON FOOTPRINT FOR THIS VISIT IS</h3>
          <div style="color:#010101;font-weight: 800;font-size:32pt;margin: 8px 0px 0px;">
            <ion-text *ngIf="(carbanFootPrint)">{{carbanFootPrint | number : '1.2-2'}} <ion-text style="font-size:18pt;">Kg</ion-text></ion-text>
            <ion-text *ngIf="(!carbanFootPrint)">0.00 Kg/Km</ion-text>
          </div> 
          <br>
          
          <div>
            <h3 class="ion-text-center" style="color:#EE7981;font-weight: 800;font-size:16pt;display:inline;border-bottom: 1px solid #EE7981;">CO<sup>2</sup>e</h3>
          </div>
          <br>

          <div class="ion-padding" style="width:80%;margin:auto;">
           <p style="font-weight:800;color:#949494;"><b>Fact :</b> 1 packet of cigarettes emits 2.8 kg CO<sup>2</sup>e equivalent to 24kms drive by car.</p>
          </div>
        </div>
      </ion-card-content>

     </ion-card>

    <div class="ion-padding"  style="text-align: center;">
        <h6 style="color:#EE7981;font-weight: 800;text-align: center;">REDUCE YOUR CARBON FOOTPRINT BY...</h6> 
    </div>  
    
    <ion-grid>
      <ion-row>
      <ion-col size="4" *ngFor="let st of sustainData" (click)="goto_subSustainable(st.id, st.data)">
          <div class="hex-div">
             <div> <ion-icon [src]="st.icon"></ion-icon> </div>
             <div style="text-align:center;font-weight:800;font-size:10px;line-height: 1;margin:4px;">{{st.title}}</div>
          </div>
          <h3 class="ion-text-center ion-no-margin" style="font-weight: 800;font-size:16pt;margin:4px 2px;">{{st.subtitle}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>

</div>
<br>
</ion-content>


