<ion-tab-bar slot="bottom" color="medium">
  <ion-tab-button [routerLink]="['/main/tabs/tab1']">
    <!-- <ion-icon name="Home"></ion-icon> -->
    <ion-icon src="assets/tab1_icon.svg"></ion-icon>
  </ion-tab-button>


  <ion-tab-button [routerLink]="['/main/tabs/tab2']">
    <!-- <ion-icon name="expand"></ion-icon> -->
    <ion-icon src="assets/tab2_icon.svg"></ion-icon>
  </ion-tab-button>

  <ion-tab-button [routerLink]="['/main/tabs/tab3']">
    <!-- <ion-icon name="earth"></ion-icon> -->
    <ion-icon src="assets/tab3_icon.svg"></ion-icon>
    
  </ion-tab-button>
</ion-tab-bar>